importFrom("stats", "cov", "ecdf", "gaussian", "glm", "lm", "pchisq", "pnorm", "poisson", "predict", "pt", "qnorm", "qt", "quantile", "rbinom")
import(MASS)
import(sandwich)
import(mice)
importFrom("graphics", "abline", "title")
export(rqlm)
export(coeff)
export(mi_rqlm)
export(qesci.pois)
export(qesci.ls)
export(bsci.pois)
export(bsci.ls)
