importFrom("stats", "cov", "ecdf", "gaussian", "glm", "lm", "pchisq", "pnorm", "poisson", "predict", "pt", "qnorm", "qt", "quantile", "rbinom")
import(MASS)
import(sandwich)
import(mice)
import(lme4)
importFrom("graphics", "abline", "title")
importFrom("stats", "vcov", "binomial", "update")
export(rqlm)
export(qlogist)
export(coeff)
export(mi_glm)
export(mi_rqlm)
export(qesci.pois)
export(qesci.ls)
export(bsci.pois)
export(bsci.ls)
S3method(print, rqlm)
S3method(print, coeff)
